<template>
  <v-card>
    <v-card-text id="container">
      Loading...
      {{ $route.params.packageSlug }}
    </v-card-text>
    <v-card-actions>
      <v-row dense>
        <v-col cols="12">
          <v-alert type="info">
            Showing only {{ topVersionsLength }} instead of {{ allVersionsLength }}
          </v-alert>
        </v-col>

        <v-col cols="12">
          <div v-if="shownVersions">
            <v-row dense>
              <v-col>
                Showing {{ shownVersions }} versions
              </v-col>
              <v-col cols="auto" class="text-end">
                <v-btn @click="shownVersions = magicNumber3">
                  Use magical formula
                </v-btn>
              </v-col>
            </v-row>
          </div>
          <div v-else>
            Select the number of shown versions, otherwise, defaulting to our magical formula
          </div>
        </v-col>

        <v-col cols="12">
          <v-row dense align="center">
            <v-col cols="auto">
              <v-combobox v-model="shownVersions" :items="shownVersionsOptions" hide-details label="Number of versions" dense />
            </v-col>
            <v-col>
              <v-slider v-model="shownVersions" :max="allVersionsLength" :label="'' + allVersionsLength" inverse-label hide-details />
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" class="text-center">
          <v-btn class="text-none" color="primary" @click="showChartDebounced">
            Regenerate chart
          </v-btn>
        </v-col>
      </v-row>
    </v-card-actions>
  </v-card>
</template>

<script>
import highchartsStreamgraph from 'highcharts/modules/streamgraph'
import Highcharts from 'highcharts'
import debounce from 'lodash.debounce'

highchartsStreamgraph(Highcharts)

export default {
  data () {
    return {
      shownVersions: 1,
      topVersionsLength: null,
      allVersionsLength: null
    }
  },

  computed: {
    shownVersionsOptions () {
      const arr = [0, 1]
      if (this.allVersionsLength >= 3) { arr.push(3) }
      if (this.allVersionsLength >= 5) { arr.push(5) }

      arr.push(this.magicNumber3, this.magicNumber2)

      const percentiles = [...Array(10).keys()].map(p => Math.ceil((p + 1) * this.allVersionsLength / 10))
      arr.push(...percentiles)

      return arr.sort((a, b) => a - b)
    },

    magicNumber3 () {
      return Math.ceil(Math.pow(this.allVersionsLength - 1, 1 / 3))
    },

    magicNumber2 () {
      return Math.ceil(Math.pow(this.allVersionsLength - 1, 1 / 2))
    }
  },

  watch: {
    shownVersions () {
      this.showChartDebounced()
    }
  },

  async mounted () {
    const packageSlug = this.$route.params.packageSlug
    const allContent = await this.$content('data/' + packageSlug, { deep: true })
      .fetch()
      .catch(() => {
        return []
      })
    const data = allContent
      .filter((f) => {
        return f.path.includes(`/data/${packageSlug}/`) && f.path.includes('versionsDownloads')
      })
      .map((f) => {
        const i = f.dir.lastIndexOf('/')
        const d = f.dir.substring(i + 1)
        delete f.createdAt
        delete f.dir
        delete f.extension
        delete f.path
        delete f.slug
        delete f.updatedAt
        return {
          data: f,
          name: d,
          date: d
        }
      })

    this.data = data

    this.showChartDebounced()
  },

  methods: {
    // this is a bad idea, but I will go with it for now 😅
    getNumber (n) {
      const build = -80000
      const pre = -70000
      const alpha = -60000
      const beta = -50000
      const rc = -40000
      const csp = -30000
      const next = -20000

      // there is some extra complexity due to messed up versioning.
      // also, there are still some unhandled cases in versioning.
      n = n.toLowerCase()
      if (n === 'build' || n === 'gh' || n === 'test') {
        return build
      } else if (n === 'pre' || n === 'dev' || n === 'insiders') {
        return pre
      } else if (n === 'alpha') {
        return alpha
      } else if (n === 'beta') {
        return beta
      } else if (n === 'rc') {
        return rc
      } else if (n === 'csp') {
        return csp
      } else if (n === 'next') {
        return next
      }

      if (n.includes('alpha')) {
        return alpha + (Number(n.replace('alpha', '')) || 0)
      } else if (n.includes('beta')) {
        return beta + (Number(n.replace('beta', '')) || 0)
      } else if (n.includes('rc')) {
        return rc + (Number(n.replace('rc', '')) || 0)
      }

      if (n.includes('a')) {
        return alpha + (Number(n.replace('a', '')) || 0)
      } else if (n.includes('b')) {
        return beta + (Number(n.replace('b', '')) || 0)
      }

      const n2 = Number(n)
      if (Number.isFinite(n2) && Number.isInteger(n2)) {
        return n2
      }
      // console.log('invalid:')
      // console.log(n)
      return -10000
    },
    compareOnePart (a, b) {
      const aAsNumber = this.getNumber(a)
      const bAsNumber = this.getNumber(b)

      if (bAsNumber < aAsNumber) {
        return -1
      } else if (bAsNumber > aAsNumber) {
        return 1
      } else {
        return 0
      }
    },
    sortVersionsFunction (a, b) {
      const getTokens = v => v.split(/\.|-/)
      const tokensOfA = getTokens(a)
      const tokensOfB = getTokens(b)

      const m = Math.min(tokensOfA.length, tokensOfB.length)
      for (let i = 0; i < m; i++) {
        const comparison = this.compareOnePart(tokensOfA[i], tokensOfB[i])

        if (comparison === -1) {
          return false
        } else if (comparison === 1) {
          return true
        }
      }

      if (tokensOfA.length < tokensOfB.length) {
        return false
      } else {
        return true
      }
    },

    getTopVersions (versions, daysCount = 1) {
      const values = Object.values(versions)
      this.allVersionsLength = values.length

      const topVersions = Object.entries(versions)
        .sort((a, b) => b[1] - a[1])
        .slice(0, this.shownVersions || this.magicNumber3)
        .map(versionObject => versionObject[0])

      this.topVersionsLength = topVersions.length

      return topVersions
    },

    getVersions (rawData) {
      const versions = {}
      Object.values(rawData).forEach((a) => {
        Object.keys(a.data).forEach((k) => {
          if (versions[k]) {
            versions[k] += a.data[k]
          } else {
            versions[k] = a.data[k]
          }
        })
      })

      const topVersions = this.getTopVersions(versions, rawData.length)

      const sortedVersions = topVersions.sort(this.sortVersionsFunction)
      return sortedVersions
    },

    getDates (rawData) {
      const dates = Object.values(rawData).map(o => o.date)
      return dates
    },

    getData (rawData) {
      const sortedVersions = this.getVersions(rawData)
      const data = sortedVersions.map((version) => {
        return {
          name: version,
          data: rawData.map(d => d.data[version] || 0)
        }
      })
      return data
    },

    showChart () {
      let rawData = this.data
      if (rawData === undefined) { return }

      if (rawData.length === 0) {
        //
      } else if (rawData.length === 1) {
        rawData = [...rawData, ...rawData]
      }
      const dates = this.getDates(rawData)
      const data = this.getData(rawData)

      this.generateChart(dates, data)
    },

    showChartDebounced: debounce(function () {
      this.showChart()
    }, 50),

    generateChart (dates, data) {
      const packageSlug = this.$route.params.packageSlug

      Highcharts.chart('container', {
        chart: {
          type: 'streamgraph',
          marginBottom: 30,
          zoomType: 'x'
        },

        series: data,

        title: {
          floating: true,
          align: 'left',
          text: packageSlug
        },

        xAxis: {
          maxPadding: 0,
          type: 'category',
          crosshair: true,
          categories: dates,
          labels: {
            align: 'left',
            reserveSpace: false,
            rotation: 270
          },
          lineWidth: 0,
          margin: 20,
          tickWidth: 0
        },

        yAxis: {
          visible: false,
          startOnTick: false,
          endOnTick: false
        },

        legend: {
          enabled: false
        },

        plotOptions: {
          series: {
            label: {
              minFontSize: 5,
              maxFontSize: 15,
              style: {
                color: 'rgba(255,255,255,0.75)'
              }
            },
            accessibility: {
              exposeAsGroupOnly: true
            }
          }
        },

        exporting: {
          sourceWidth: 800,
          sourceHeight: 600
        }
      })
    }
  }
}
</script>
