<template>
  <v-app dark>
    <v-app-bar
      fixed
      app
    >
      <v-toolbar-title class="pe-3">
        <nuxt-link to="/" style="text-decoration: none">
          NPM StatS
        </nuxt-link>
      </v-toolbar-title>

      <v-toolbar-items>
        <v-btn to="/">
          Home
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>

    <v-footer
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>
