<template>
  <v-card>
    <v-card-title class="headline">
      Packages
    </v-card-title>
    <v-card-text>
      <v-row dense>
        <v-col
          v-for="packageObj in packages"
          :key="packageObj.name"
          cols="6"
          md="4"
          lg="3"
          xl="2"
        >
          <v-card :to="{ name: 'packageSlug', params: { packageSlug: packageObj.name } }" outlined>
            <v-card-text>
              <strong class="text-subtitle-1 text--primary">
                {{ packageObj.name }}
              </strong>
              <br>
              <small>
                {{ packageObj.dateOfFirstRecord }}
              </small>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { packagesToBeScanned } from '@/content/packages'

export default {
  data () {
    return { packages: packagesToBeScanned }
  }
}
</script>
